head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no")
    meta(name="description" content="This is the graphical representation of the mobilities in which Loulé Secondary School participated")
    meta(name="keyword" content="erasmus, esl, escola secundaria de loulé, escola secundaria de loule, es loule, erasmus+, mobilidades, mobilities, erasmus trips, viagens erasmus, erasmus trips, mobilidades erasmus")
    title= title
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet" href="../stylesheets/style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")