doctype html

html
    head
        title Error 404 - Page Not Found
        meta(charset="utf-8")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    body
        div.container.p-5.text-center
            div.m-5.d-inline-block.p-3.rounded.shadow-lg.bg-danger
                h1.text-center Error 404
                h3.text-center Page Not Found